body{
    margin:0px;
    padding:0px;
    font-family: 'Arial';
    overflow-x: hidden;
}

h1{
    font-size: 30px;
}

h2{
    margin: 0;
    font-size: 22px;
}

h3{
    font-size: 22px;
    margin-bottom: 7px;
}

h4{
    margin: 1px 0px 0px 0px;
    
}

#forging:before, #cost:before, #technology:before{
    content:'';
    display: block;
    position: absolute;
    width:100%;
    height: 100%;
    margin-left: -100%;
    background: #f2f2f2;
    margin-top: -20px;
}

#forging, #cost, #technology{
    background: #f2f2f2;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

#forging:after, #cost:after, #technology:after{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    top: 0px;
    z-index: -1;
    left: 100%;
}

#requestcall{
    padding-top: 1px;

}

.container{
    width:1024px;
    margin: 0 auto;
}

.header:before{
    content:''; 
    display: block;
    position: absolute;
    width:100%;
    height: 100%;
    margin-left: -100%;
    background: #FFFFFF;
}

.header{
    position: fixed;
    top: 0px;
    height: 120px;
    background: rgba(255, 255, 255, 1);
    z-index: 9;
}
.header:after{
     content:''; 
     display: block; 
     position: absolute; 
     width: 100%; 
     height: 100%; 
     background: #FFFFFF; 
     top: 0;  
     left: 100%;
}

.body{
    padding-top: 120px;
}

ul.menu{
    list-style-type:none;
    position: absolute;
    left: 323px;
    top: 38px;
    font-size: 14px;
    vertical-align: middle;
}

ul.menu li{
    display: inline-block;
    color: #276a3d;
    width: 94px;
    float: left;
    vertical-align: middle;
    height: 40px;
}

ul.menu li a{
    color: #276a3d;
}

.img__meta{
    color: #666666;
    font-size: 12px;
    position: absolute;
    left: 174px;
    top: 38px;
    width: 167px;
}

.index__contacts{
    margin-left: 780px;
    padding-top: 14px;
}

.index__phone{
    font-size: 28px;
    color: #FFFFFF;
    font-weight: 800;
    -webkit-text-stroke: 1px rgba(0,0,0,0.1);
}

.header__logo{
    margin-top: 6px;    
    margin-left: 1px;
}

.fir-tree{
    background: url(../img/fir-tree.png);
    width: 98px;
    height: 57px;
    position: absolute;
    left: 50%;
    margin-left: -49px;
    margin-top: -71px;
}

.index__adress{
    color: #FFFFFF;
    font-size: 17px;
}

.action{
    background: #FFFFFF;
    border-radius: 5px;
    width: 273px;
    margin-left: 705px;
    top: 27px;
    padding: 9px 18px;
    height: 320px;
    margin-top: 12px;
}

.action__solution{
    margin-top: 8px;
    width: 250px;
    font-size: 16px;
    margin-bottom: 19px;
}

.index__prefooter{
    width: 1143px;
    color: #FFFFFF;
    background: url(../img/bg_cross.png);
    position: absolute;
    margin-left: -120px;
    padding-left: 120px;
    margin-top: 45px;
    height: 162px;
}

.index__prefooter h1{
    color: #FFFFFF;
    margin: 20px 0px 8px 0px;
    -webkit-text-stroke: 1px rgba(0,0,0,0.1);
}

.index__footer{
    margin-top: 207px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.index__footer-item{
    display: inline-block;
    text-align: center;
    width: 176px;
    margin: 0px 80px;
}

.index__footer-item img{
    margin-bottom: 19px;

}

.content_left .content__img{
    float: left;
    margin-right: 32px;
}

.content_right .content__img{
    float: right;
    margin-left: 50px;
}

.content__text{
    font-size: 14px;
    padding-right: 50px;
}

.content__costtext{
    margin-left: 77px;
}

.content__costtext h1{
    display: inline-block;
}

.content__costtext div{
    display: inline-block;

    margin-left: 7px;
    font-size: 20px;
    font-weight: 800;
}

.index_bg{
    background: url(../img/bg_sibforest.jpg);
    width: 1263px;
    height: 625px;
    background-size: cover;
    position: absolute;
    margin-left: -120px;
    z-index: -1;
}

.action input{
    width: 229px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 17px;
    margin-bottom: 18px;
}

.button{
    background: #9BC005;
    padding: 17px 0px 11px 0px;
    text-align: center;
    width: 270px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 800;
    color: #FFFFFF;
    box-shadow: 0px 4px 0px 0px #7B9903;
    text-decoration: none;
    font-size: 14px;
}
.button:active{
    background: #7B9903;
    box-shadow: 0px 4px 0px 0px #9BC005;
}

.clearfix{
    clear:both;
}

#requestcall .index_bg{
    background-position: 0px -137px;
    background-repeat: no-repeat;
    height: 450px;
}

#requestcall .action.action_footer{
    margin: 50px auto;   
}

.copyrights{
    position: absolute;
    background: #f2f2f2;
    margin-top: 12px;
    line-height: 40px;
    width: 100%;
    font-size: 14px;
}

.copyrights:before{
    content:'';
    display: block;
    position: absolute;
    width:100%;
    height: 100%;
    margin-left: -100%;
    background: #f2f2f2;
}

#howwework .content{
    margin: 30px 0px;   
}

#forging .button{
    position: relative;
    vertical-align: bottom;
    display: inline-block;
    left: 100%;
    margin-left: -295px;
    margin-top: -50px;
    top: -20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
}

#cost .button{
    margin-left: 40px;

}

#projects{
    padding-bottom: 25px;
}
#projects .button{
    margin-top: 10px;
}