body{
    margin:0px;
    padding:0px;
}

input{

}

button{

}

h1{

}

h2{
    
}

h3{
    
}

h4{
    
}

.container{
    width:1024px;
    margin: 0 auto;
}

ul.menu{
    list-style-type:none;
}

ul.menu li{
    display: inline;
}

.index__contacts{

}

.index__phone{

}

.index__adress{

}

.action{

}

.action__solution{

}

.index__prefooter{

}

.index__footer{

}

.index__footer-item{

}

.index__footer-item img{

}

.content_right{

}

.content{

}

.content_left{

}

.content__img{

}

.content__text{

}

.content__avatar{

}

.content__costimg{

}

.content__costtext{

}

.action_footer{
    
}